<!doctype html>
<html class="no-js no-touch supports-no-cookies" lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'head' -%}

    {{ content_for_header }}

<script type="text/javascript">
 var _conv_page_type = "{{ request.page_type }}";
 var _conv_category_id = "{{ collection.id }}";
 var _conv_category_name = "{{ collection.title }}";
 var _conv_product_sku = "{{ product.selected_or_first_available_variant.sku }}";
 var _conv_product_name = '{{ product.title }}';
 var _conv_product_price = "{{ product.price_min | money_without_currency }}";
 var _conv_customer_id = "{{ customer.id }}";
 var _conv_custom_v1 = "{{ product.tags.first }}";
 var _conv_custom_v2 = "{{ collection.current_type }}";
 var _conv_custom_v3 = "{{ cart.item_count }}";
 var _conv_custom_v4 = "{{ cart.total_price | money_without_currency }}";
</script>

</head>

  <body
    id="{{ page_title | handle }}"
    class="template-{{ template.name | handle }} grid-{{ settings.grid_style }}{% if customer %} customer-logged-in{% endif %}{% if settings.animations_enable %} aos-initialized{% endif %}{% if settings.product_grid_outline %} has-line-design{% endif %}"
    data-animations="{{ settings.animations_enable }}"
    data-instant-allow-query-string
  >
    {%- render 'loading' -%}

    <a class="in-page-link visually-hidden skip-link" data-skip-content href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    <div class="container" data-site-container>
      <div class="header-sections">
        {% sections 'group-header' %}
      </div>

      {% sections 'group-overlay' %}

      <!-- CONTENT -->
      <main role="main" id="MainContent" class="main-content">
        {{ content_for_layout }}
      </main>
    </div>

    {% sections 'group-pre-footer' %}

    <footer class="footer-sections">
      {% sections 'group-footer' %}
    </footer>

    {%- if settings.swatches_type != 'disabled' -%}
      {% render 'template-swatch' %}
    {%- endif -%}

    {% render 'zoom-pswp' %}

    {%- if template.name != 'product' and settings.show_scroll_top_button -%}
      <button
        type="button"
        class="btn btn--scroll-top btn--black btn--solid"
        aria-label="{{ 'general.accessibility.scroll_to_top' | t }}"
        data-scroll-top-button
      >
        {%- render 'icon-nav-arrow-up' -%}
      </button>
    {%- endif -%}

    {%- comment -%}
      In order to use your custom javascript file at assets/custom.js
      just cut this next line and paste it outside this comment:
      <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
    {%- endcomment -%}
    <!-- Paste marketing code or third party scripts below this comment line ============== -->
    <script
      src="//instant.page/5.2.0"
      type="module"
      integrity="sha384-jnZyxPjiipYXnSU0ygqeac2q7CVYMbh84q0uHVRRxEtvFPiQYbXWUorga2aqZJ0z"
    ></script>

    <!-- And above this comment line ================================================== -->
  </body>
</html>